<div class="container">
    <form #userForm="ngForm"(ngSubmit)="onSubmit(userForm.value)">
        <div class="form-group">
            <label for="Name">Name</label>
            <input type="text" class="form-control" name="Name" [(ngModel)]="myname">
            <p>{{myname}}</p>
        </div>
        <div class="form-group">
            <label for="Name">Email</label>
            <input type="text" class="form-control" name="Email" ngModel>
        </div>
        <div class="form-group">
            <label for="Name">Phone</label>
            <input type="text" class="form-control" name="Phone" ngModel>
        </div>
        <div class="form-group">
            <label for="Name">password</label>
            <input type="password" class="form-control" name="Password" ngModel>
        </div>
        <div>
            <button type="Submit" class="btn btn-primary">submit</button>
        </div>
    </form>
    </div>

    <!-- <router-outlet></router-outlet> -->